/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/testing-uploads
/storage/*.key
/storage/testing-logs
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.history

.DS_Store
.env.local
.env.testing
config/config.local.php
/public/coverage
/public/uploads
composer.lock
.phpstorm.meta.php
